@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-color: rgb(227, 223, 248);
}

h1, h2, h3 {
  font-family: "VT323";
}

.bg-gameboy {
  background: rgb(74,57,156);
  background:
    linear-gradient(
      45deg,
      rgba(74,57,156,1) 0%,
      rgba(132,115,222,1) 35%,
      rgba(255,255,255,1) 100%
    );
}

.btn-gameboy {
  font-family: "VT323";
  font-size: 1.3em;
  color: white;
  background-color: rgb(74, 57, 156);
  border: 1px solid rgb(74, 57, 156);
}

.btn-gameboy:hover {
  color: rgb(74, 57, 156);
  background-color: white;
}

.bg-play {
  background-image: url("img/gb-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}